---
title: Kunal Haria
---

<div class="container">
  <h1 class="h2 bold">Kunal Haria</h1>

  <p class="p">I am a <abbr title="enthusiatic">statistician</abbr> from <a href="https://www.ucl.ac.uk/prospective-students/graduate/taught/degrees/statistics-msc">UCL</a>. I used to be a Business Analyst at <a href="https://www.home.barclays/careers/our-roles/technology.html">Barclays</a>. I am in the process of adding more here soon.</p>

  <ul>
    <li><a href="https://twitter.com/KunalHaria10">Twitter</a></li>
    <li><a href="http://linkedin.com/in/kunal-haria">LinkedIn</a></li>
    <li><a href="https://github.com/kunalharia">GitHub</a></li>
    <li><a href="mailto:lanukairah@gmail.com">Email</a></li>
  </ul>
</div>